html, body {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    background: #eee;
}

.contentColumn {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 10px;
}

.header {
    background: #0065BF;
    color: white;
    padding: 10px 0;
}

.content {
    padding: 10px 0 50px 0;
    background: #fff;
}

.footer {
    background: #eee;
    text-align: right;
    padding: 50px 0;
    font-size: 0.9rem;
}

.footer .footer-link {
    margin: 10px 0;
}

h1, h2, h3, h4 {
    font-family: arial, sans-serif;
}

h1 a {
    color: white;
    text-decoration: none;
}

h1 a:hover, h1 a:focus {
    color: white;
    text-decoration: underline;
}

p.front-page {
    text-align: center;
    font-size: 1.3rem;
    margin: 30px 0;
    font-family: arial, sans-serif;
}

p.front-page-mini {
    text-align: center;
    margin: 30px 0;
    font-family: arial, sans-serif;
}

form.front-page input {
    display: block;
    margin: 30px auto;
    font-size: 130%;
    font-family: arial, sans-serif;
}

ul.constituencies li {
     margin: 5px 0;
}

.action-button-wrapper {
    text-align: right;
    padding: 5px;
}
a.action-button, .action-button-wrapper input[type="submit"] {
    background: #0065BF;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 5px 20px;
    font-family: arial, sans-serif;
}
a.action-button:hover, a.action-button:focus, .action-button-wrapper input[type="submit"]:hover, .action-button-wrapper input[type="submit"]:focus {
    color: white;
    text-decoration: underline;
}


.event-listing {
    margin: 10px 0;
    background: #eee;
    border-radius: 2px;
    padding: 10px 5px;
}
.event-listing-cancelled {
    color: #666;
}
.event-listing p.cancelled {
    background: #666;
    padding: 5px;
    text-align: center;
    color: white;
}
.event-listing .date-time {
    text-align: right;
}
.event-listing p.description {
    white-space: pre-line;
}
.event-listing h3 {
    margin-top: 0;
}
.event-listing .action-button-wrapper {
    padding-right: 0;
    padding-bottom: 0;
}

form .input-group {
    display: block;
    margin: 20px 0;
}

form .input-group ul.input-where li {
     list-style-type: none;
     margin: 5px 0;
}

form input[type="text"], form input[type="email"], form input[type="url"],form input[type="date"], form textarea {
    display: block;
}

form textarea {
    width: 100%;
    height: 100px;
}
