{% extends 'base.html' %}


{% block htmltitle %}All Events{% endblock %}


{% block content %}

    <h2>All hustings (Scotland and local) including past ones</h2>

    {% if all_events_plus_past %}

        <div itemscope itemtype="https://schema.org/Place">
            <meta itemprop="name" content="Scotland" />
            {% for event in all_events_plus_past %}
                {% include 'common-event-listing.html' %}
            {% endfor %}
        </div>

    {% endif %}


    <h2>Do you know of any more events?</h2>

    <div class="action-button-wrapper">
        <a href="/contribute" class="action-button">Tell us about more events</a>
    </div>

{% endblock %}


