<!doctype html>
<html>
    <head>
        <title>{% block htmltitle %}{% endblock %} - Meet Your Next MSP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
    </head>
    <body>
        <div class="header">
            <div class="contentColumn">
                <h1><a href="/">Meet Your Next MSP</a></h1>
            </div>
        </div>
        <div class="content">
            <div class="contentColumn">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="contentColumn">
                <hr>
                <a href="/constituencies">Find your constituency</a>
                <a href="/contribute">Tell us about an event</a>
            </div>
        </div>
    </body>
</html>
