<!doctype html>
<html>
    <head>
        <title>{% block htmltitle %}{% endblock %} - Meet Your Next MSP</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <meta name="twitter:card" content="summary" />
        {% block head %}{% endblock %}
        <meta name="twitter:title" content="{% block twittertitle %}{% endblock %} - Meet Your Next MSP" />
        <meta name="twitter:site" content="@meetyournextmsp" />
    </head>
    <body>
        <div class="header">
            <div class="contentColumn">
                <h1><a href="/">Meet Your Next MSP</a></h1>
            </div>
        </div>
        <div class="content">
            <div class="contentColumn">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="footer">
            <div class="contentColumn">
                <hr>
                <div class="footer-link"><a href="/constituencies">Find your constituency</a></div>
                <div class="footer-link"><a href="/contribute">Tell us about an event</a></div>
                <div class="footer-link"><a href="/all_events">All events</a></div>
                <div class="footer-link"><a href="/about">About (including Open Data)</a></div>
                <div class="footer-link"><a href="https://twitter.com/meetyournextmsp">Tweet us @meetyournextmsp</a></div>
                <div class="footer-link"><a href="mailto:hello@meetyournextmsp.scot">Email us hello@meetyournextmsp.scot</a></div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
