<style>

  .action-button-wrapper {
      text-align: right;
      <!-- padding: 5px; -->
  }

  .event-listing {
      margin: 10px 0;
      <!-- background: #eee; -->
      border-radius: 2px;
      <!-- padding: 10px 5px; -->
  }
  .event-listing-cancelled {
      color: #666;
  }
  .event-listing p.cancelled {
      background: #666;
      padding: 5px;
      text-align: center;
      color: white;
  }
  .event-listing .date-time {
      text-align: right;
  }
  .event-listing p.description {
      white-space: pre-line;
  }
  .event-listing h3 {
      margin-top: 0;
  }
  .event-listing .action-button-wrapper {
      padding-right: 0;
      padding-bottom: 0;
  }
</style>

<div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 mt-4">
  <div class="max-w-md w-full"> <!--space-y-8">-->

<div class="event-listing{% if event.cancelled %} event-listing-cancelled{% endif %}" itemprop="event" itemscope itemtype="https://schema.org/Event">
    {% if event.cancelled %}
        <p class="cancelled">CANCELLED</p>
        <meta itemprop="eventStatus" content="https://schema.org/EventCancelled" />
    {% else %}
        <meta itemprop="eventStatus" content="https://schema.org/EventScheduled" />
    {% endif %}

    <h3 class="text-center text-2xl font-bold mb-2" itemprop="name">{{ event.title }}</h3>
    {% if not event.cancelled %}
        <p class="description" itemprop="description">{{ event.description|urlize(40, true) }}</p>
    {% endif %}

    <p class="date-time">
        <time itemprop="startDate" datetime="{{ event.get_start_strftime_for_time_tag() }}">{{ event.get_start_strftime() }}</time>
        {% if event.has_end() %}
            - <time itemprop="endDate" datetime="{{ event.get_end_strftime_for_time_tag() }}">{{ event.get_end_strftime() }}
        {% endif %}
    </p>

    {% if event.url %}
        <div class="action-button-wrapper">
    <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <a href="{{ event.url }}" class="action-button" itemprop="url">Find out more</a>
    </button>
        </div>
        <div itemprop="location" itemscope itemtype="https://schema.org/VirtualLocation">
            <meta itemprop="url" content="{{ event.url }}" />
        </div>
    {% endif %}

    <meta itemprop="eventAttendanceMode" content="https://schema.org/OnlineEventAttendanceMode" />
</div>

</div>
</div>
