{% extends 'base.html' %}


{% block htmltitle %}Constituencies{% endblock %}


{% block content %}

<style>
  li:nth-child(even) {background: #F3F4F6}
</style>

    <h2 class="text-2xl font-bold">Constituencies</h2>


    <p>Enter your postcode or select from the list below.</p>

    {% include "partials/postcode.html" %}

    <ul class="constituencies">
        {% for constituency in constituencies %}
            <li><a href="/constituency/{{ constituency.id }}">{{ constituency.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
