{% extends 'base.html' %}


{% block htmltitle %}{{ constituency_title }} ({{ region_title }}){% endblock %}
{% block twittertitle %}{{ constituency_title }} ({{ region_title }}){% endblock %}

{% block head %}
    <meta property="og:description" content="Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you. We list local and national Hustings for {{ constituency_title }} ({{ region_title }}), public meetings with politicians from opposing sides, for you to attend and ask questions." />
    <meta name="twitter:description" content="Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you. We list local and national Hustings for {{ constituency_title }} ({{ region_title }}), public meetings with politicians from opposing sides, for you to attend and ask questions.">
{% endblock %}



{% block content %}


    <h2>{{ constituency_title }} ({{ region_title }}) hustings</h2>

    <p>
        This includes events that have past.
        <a href="/constituency/{{ constituency_id }}">You can view only future events if you want</a>.
    </p>

        <div itemscope itemtype="https://schema.org/Place">
            <meta itemprop="name" content="{{ constituency_title }}, Scotland" />

            {% if events_plus_past %}

                {% for event in events_plus_past %}
                    {% include 'common-event-listing.html' %}
                {% endfor %}

            {% else %}

                <p>Sorry, we don't know of any events for {{ constituency_title }} or the region of {{ region_title }}.</p>

            {% endif %}

        </div>

    <h2>Do you know of any more events?</h2>

    <div class="action-button-wrapper">
        <a href="/contribute" class="action-button">Tell us about more events</a>
    </div>


    {% if national_events_plus_past %}

        <h2>Scottish hustings</h2>

        <div itemscope itemtype="https://schema.org/Place">
            <meta itemprop="name" content="Scotland" />

            {% for event in national_events_plus_past %}
                {% include 'common-event-listing.html' %}
            {% endfor %}

        </div>

        <h2>Do you know of any more events?</h2>

        <div class="action-button-wrapper">
            <a href="/contribute" class="action-button">Tell us about more events</a>
        </div>

    {% endif %}
{% endblock %}



