{% extends 'base.html' %}


{% block htmltitle %}{{ constituency_title }} ({{ region_title }}){% endblock %}


{% block content %}


<h2>{{ constituency_title }} ({{ region_title }})</h2>



{% if events %}

    {% for event in events %}

        <div>
            <p>{{ event.title }}</p>
            {% if event.cancelled %}
                <p>CANCELLED</p>
            {% else %}
                <p>{{ event.description }}</p>
            {% endif %}

            <p>{{ event.get_start_strftime() }}</p>

            <a href="/event/{{ event.id }}">Find out more</a>
        </div>

    {% endfor %}

{% else %}

    Sorry, we don't know of any events for {{ constituency_title }} or the region of {{ region_title }}.

{% endif %}


{% if national_events %}

    <h2>National events</h2>

    {% for event in national_events %}

        <div>
            <p>{{ event.title }}</p>
            {% if event.cancelled %}
                <p>CANCELLED</p>
            {% else %}
                <p>{{ event.description }}</p>
            {% endif %}

            <p>{{ event.get_start_strftime() }}</p>

            <a href="/event/{{ event.id }}">Find out more</a>
        </div>

    {% endfor %}

{% endif %}


{% endblock %}



