{% extends 'base.html' %}

{% block htmltitle %}Welcome{% endblock %}
{% block twittertitle %}Welcome{% endblock %}

{% block head %}
  <meta property="og:description" content="Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you. We list local and national Hustings, public meetings with politicians from opposing sides, for you to attend and ask questions." />
  <meta name="twitter:description" content="Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you. We list local and national Hustings, public meetings with politicians from opposing sides, for you to attend and ask questions." />
{% endblock %}

{% block content %}
  <div itemscope itemtype="https://schema.org/Place">
    <meta itemprop="name" content="Scotland" />

    <p class="front-page">Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you.</p>

    <p class="front-page">Hustings are public meetings with politicians from opposing sides; you can attend and ask questions.</p>


    <!--
      This example requires Tailwind CSS v2.0+
      ```
    -->
    <div class="flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-md w-full space-y-8">
        <div>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            To find events for you, please tell us your postcode:
          </h2>
        </div>
        {% include "partials/postcode.html" %}
      </div>
    </div>

    <p class="front-page-mini">(or <a href="/constituencies">select from this list of constituencies</a>)</p>

  </div>
{% endblock %}
