{% extends 'base.html' %}

{% block htmltitle %}Welcome{% endblock %}

{% block content %}

  <p>Before you vote in the Scottish Parliament elections, hear from your candidates and the parties on issues that matter to you.</p>

  <p>Hustings are public meetings with politicians from opposing sides; you can attend and ask questions.</p>

  <p>To find events for you, please tell us your postcode:</p>

  <form method="post">
    <input name="postcode">
    <input type="submit" value="Find My Events">
  </form>

{% endblock %}



